@font-face {
    font-family: 'AtlantaRoundedBlack';
    src: url('AtlantaRoundedBlack.woff2') format('woff2'),
        url('AtlantaRoundedBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AtlantaRoundedBlack';
    src: url('AtlantaRoundedBlack.woff2') format('woff2'),
        url('AtlantaRoundedBlack.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AtlantaRounded';
    src: url('AtlantaRoundedBlack.woff2') format('woff2'),
        url('AtlantaRoundedBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AtlantaRounded';
    src: url('AtlantaRoundedBlack.woff2') format('woff2'),
        url('AtlantaRoundedBlack.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
